@use "../../styles/variables.scss";
@use "../../styles/mixins.scss";

.header {
  padding: 15px 10px 15px 10px;
  &_main-bg {
    background: variables.$main-bg;
  }

  &__wrapper {
    position: relative;
    @include mixins.flex(flex, space-between, center);
    z-index: 13;
  }

  &__nav {
    position: relative;
    @include mixins.navStyle;
    left: -100%;
  }
  
  &__close {
    position: absolute;
    border: none;
    background: transparent;
    font-size: 36px;
    font-weight: 400;
    right: 14px;
    cursor: pointer;
  }

  &__nav_active {
    @include mixins.navStyle;
    left: 0;
    z-index: 20;
  }

  &__nav-list {
    width: 100%;
    height: 100%;
    @include mixins.flex(flex, center, center);
    gap: 30px;
    flex-direction: column;

    li:nth-child(2) {
      position: relative;
      &::after {
        content: url("/images/arrow.png");
        position: absolute;
        top: -3px;
        right: -13px;
      }
    }
  }

  &__nav-link {
    @include mixins.navLink(
      variables.$link,
      variables.$font-size16,
      variables.$font-weight400,
      capitalize
    );
    text-decoration: none;
    padding: 16px;
  }

  &__nav-link_active {
    color: variables.$link-active;
    font-size: variables.$font-size16;
    font-weight: variables.$font-weight400;
    text-transform: capitalize;
  }

  &__basket {
    display: none;
  }

  &__auth {
    display: none;
  }

  &__burger {
    width: 39px;
    height: 27px;
    @include mixins.flex(flex, center, center);
    flex-direction: column;
    gap: 9px;
    cursor: pointer;
    div {
      width: 39px;
      height: 3px;
      background: variables.$burger-color;
      transition: variables.$transition;
    }
    &_burger-active {
      div {
        transition: variables.$transition;
        margin-bottom: -2px;
        &:nth-child(1) {
          transform: translateY(3px) rotate(-45deg);
        }
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          transform: translateY(-6px) rotate(45deg);
        }
      }
    }
  }

  &__search {
    @include mixins.flex(flex, center, center);
    height: 48px;
    padding: 0 0 0 35px;
    gap: 12px;
    border-radius: 12px;
    border: 1px solid variables.$white;
    background: variables.$backg-input;
    backdrop-filter: blur(8px);
    &::placeholder {
      color: variables.$link-active;
      font-size: variables.$font-size16;
      font-weight: variables.$font-weight400;
      text-transform: capitalize;
    }
  }

  &__input-wrap {
    position: relative;
  }

  &__lup {
    position: absolute;
    top: 12px;
    left: 7px;
    cursor: pointer;
  }
}

@media (min-width: 768px) {
  .header {
    &__nav {
      position: initial;
      width: initial;
      height: initial;
      background: initial;
      left: initial;
      top: inherit;
      transition: initial;
    }

    &__nav-list {
      @include mixins.flex(flex, center, center);
      flex-direction: row;
      gap: 0;
      li:nth-child(2)::after {
        right: -7px;
      }
    }
    
    &__close {
      display: none;
    }

    &__nav-link {
      font-size: variables.$font-size15;
      padding: 15px;
    }

    &__burger {
      display: none;
    }

    &__content {
      @include mixins.flex(flex, center, center);
      gap: 10px;
    }

    $navs: basket, auth;

    @each $nav in $navs {
      &__#{$nav}-nav {
        display: none;
      }
    }

    &__basket {
      @include mixins.basketAuth;
    }

    &__auth {
      @include mixins.basketAuth;
    }

    &__search {
      width: 150px;
    }
  }
}

@media (min-width: 992px) {
  .header {
    &__search {
      width: 230px;
    }

    &__nav-link {
      @include mixins.hoverActive;
    }
  }
}

@media (min-width: 1200px) {
  .header {
    padding: 54px 60px 0 60px;
    &__search {
      width: 344px;
    }

    &__content {
      gap: 24px;
    }

    &__nav-link {
      font-size: variables.$font-size16;
    }
  }
}
