@use "../../styles/variables.scss";
@use "../../styles/mixins.scss";

.stream {
  padding: 20px 5px 20px 5px;

  &_bg {
   background: variables.$main-bg;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 300px;
    margin: 0 auto;
  }

  &__title-name {
    position: absolute;
  }

  &__name {
    font-size: variables.$font-size7;
    margin-top: 0;
  }

  &__title {
    color: variables.$iphone-title;
    font-weight: variables.$font-weight500;
    font-size: variables.$font-size9;
  }

  @for $i from 1 through 4 {
    $topValue: 21%;
    @if $i == 2 {
      $topValue: 26%;
    }
    @else if $i == 3 {
      $topValue: 47%;
    }
    @else if $i == 4 {
      $topValue: 29%;
    }
  
    &__title-slide#{$i} {
      position: absolute;
      width: 200px;
      left: -112%;
      top: $topValue;
      z-index: 20;
      transform: rotate(-90deg);
      @include mixins.slideStyle;
    }
  }

  &__slide {
    position: relative;
    width: 60px;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
    &:nth-child(1) {
      order: 1;
    }
    &:nth-child(2) {
      order: 2;
    }
    &:nth-child(4) {
      order: 4;
    }
    &:nth-child(5) {
      order: 5;
    }
  }

  &__slide-show {
    position: relative;
    order: 0;
    width: 300px;
    height: auto;
    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  &__button {
    @include mixins.flex(flex, center, center);
    background: variables.$link-active;
    width: fit-content;
    height: 19px;
    font-size: variables.$font-size7;
    position: absolute;
    right: -1px;
    padding: 5px;
    border-radius: 12px;
    bottom: 3px;
    color: variables.$content-button;
    border: none;
    gap: 1px;
    cursor: pointer;
    svg {
      width: 12px;
      height: 12px;
    }
  }
}

@media(min-width: 768px) {
  .stream {
    &__wrapper {
      @include mixins.flex(flex, center, center);
      flex-wrap: wrap;
      gap: 17px;
      width: initial;
      margin: 0 auto;
    }

    &__slide {
      width: 45px;
    }

    @for $i from 1 through 4 {
      $leftValue: -166%;
      $topValue: 12%;
      $fontSize: variables.$font-size16;
    
      @if $i == 2 {
        $leftValue: -171%;
        $topValue: 19%;
      }
      @else if $i == 3 {
        $leftValue: -171%;
        $topValue: 41%;
      }
      @else if $i == 4 {
        $leftValue: -168%;
        $topValue: 22%;
      }
    
      &__title-slide#{$i} {
        left: $leftValue;
        top: $topValue;
        font-size: $fontSize;
      }
    }

    &__slide-show {
      order: 2;
      width: 367px;
    }

    &__title {
      font-size: variables.$font-size12;
    }

    &__name {
      font-size: variables.$font-size8;
      margin-top: 3px;
    }

    &__button {
      width: 76px;
      height: 23px;
      font-size: variables.$font-size8;
      bottom: 3px;
      gap: 1px;
      svg {
        width: 14px;
        height: 14px;
      }
    }
  }
}

@media(min-width: 992px) {
  .stream {
    &__button {
      transition: variables.$transition;
      &:hover {
        transition: variables.$transition;
        background: variables.$but-hover;
      }
      &:active {
        background: variables.$but-active;
      }
    }
  }
}

@media(min-width: 1200px) {
  .stream {
    &__wrapper {
      gap: 24px;
    }

    &__slide {
      width: 88px;
    }

    &__title-slide1 {
      left: -62%;
      top: 31%;
      font-size: variables.$font-size24;
    }
  
    &__title-slide2 {
      left: -62%;
      top: 36%;
      font-size: variables.$font-size24;
    }
  
    &__title-slide3 {
      left: -79%;
      top: 46%;
      font-size: variables.$font-size24;
      width: 230px;
    }
  
    &__title-slide4 {
      left: -62%;
      top: 35%;
      font-size: variables.$font-size24;
    }

    &__slide-show {
      width: 661px;
    }

    &__title {
      margin-top: 8px;
      font-size: variables.$font-size16;
    }

    &__name {
      font-size: variables.$font-size13;
      margin-top: 9px;
    }

    &__button {
      width: 134px;
      padding: 0 14px;
      height: 42px;
      font-size: variables.$font-size13;
      bottom: 2px;
      gap: 6px;
      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}

@media(min-width: 1440px) {
  .stream {
    padding: 80px 60px;
    &__wrapper {
      gap: 19px;
    }

    &__slide-show {
      width: 872px;
    }

    &__title {
      font-size: variables.$font-size24;
    }

    &__name {
      font-size: variables.$font-size16;
    }

    &__button {
      width: 177px;
      padding: 0 24px;
      height: 48px;
      font-size: variables.$font-size16;
      bottom: 5px;
    }
  }
}